h1{
    text-align: center;
}
section,.test_top{
    border:1px solid #ccc;
    margin:20px;
}
.test_top{
    display: flex;
    padding:20px;
}
.test_top div{
    flex-basis: 33.33%;
}
section h3{
    background:#ccc;
    margin:0;
    padding:20px;
}
.calculate{
    width:150px;
    height:35px;
    display: block;
    line-height:35px;
    border-radius:10px;
    border:1px solid #fff;
    background: #566fd7;
    color:#fff;
    text-align: center;;
    cursor:pointer;
    margin: auto;
}
#txt{
    width:96%;
    heigth:200px;
}
.yes,.no{
    position: relative;
    display: inline-block;
    margin-right:20px;
}
.yes::after,.yes::before,.no:after,.no::before{
    position: absolute;
}
.yes::after{
    content:'√';
    color:green;
    right:-20px;
}
.no::after{
    content:'X';
    color:red;
    right:-20px;
}